<?xml version="1.0"?>
<UserConfig>
  <add key="UserName" value="dckhoan"/>
  <add key="Password" value="veryp@ssword"/>
  <add key="Email" value="1312291@student.hcmus.edu.vn"/>
  <add key="FirstName" value="Khoan"/>
  <add key="LastName" value="Duong Cong"/>
  <add key="YearOfBirth" value="1995"/>
  <add key="MonthOfBirth" value="6"/>
  <add key="DayOfBirth" value="1"/>
  <add key="Phone" value="01665023325"/>
</UserConfig>
